div#header
	a(href="/") Home
	| 
	a(href="/account" style="margin-left: 15px") My Account
	| 
	a(href="/following" style="margin-left: 15px") Following
	| 
	a(href="/artworks" style="margin-left: 15px") Artworks
	|
	a(href="/addartwork" style="margin-left: 15px") Add Artwork
	|
	a(href="/addworkshop" style="margin-left: 15px") Add Workshop
	|
	button#logout(type="button" style="margin-left: 90%") Log out

script 
	include ../../js/userhome.js